.container{

    display: flex;
    justify-content: center; /* 將 flex 內容水平置中 */
    align-items: center; /* 將 flex 內容垂直置中 */

}

.box-1{

    height: 200px;
    width: 200px;
    background-color:orange;
    margin-right: 20px

}

.box-2{

    height: 200px;
    width: 200px;
    background-color:green;

}